name: Tests
on: push
jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install requirements
        run: pip install -r test_requirements.txt
      - name: Test
        run: pytest
  test_downloader:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Test
        run: |
          rm -rf data
          python downloader.py
          file_name_places=data/places.csv
          echo "file_name_places = $file_name_places"
          test -e $file_name_places
          file_name_bikes=data/$(date +"%Y")/$(date +"%m")/$(date +"%Y-%m-%d").csv
          echo "file_name_bikes = $file_name_bikes"
          test -e $file_name_bikes
  test_publisher:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install requirements
        run: pip install -r publisher_requirements.txt
      - name: Test
        run: |
          rm -f index.html
          python publisher.py
          test -e index.html
          grep "Nextbike Pardubice" index.html
